# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
build/

# Development
.DS_Store
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
.cache/
*.tsbuildinfo
